<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./my-style.css" />
  <script src="/student-add.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <div class="title">Registeration Form</div>
    <div class="content">
      <form action="/save" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" name="fname" placeholder="Enter your name" />
          </div>

          <div class="gender-details">
            <span class="details">Gender</span>

            <input type="radio" name="gender" value="M" /> Male
            <input type="radio" name="gender" value="F" /> Female
            <input type="radio" name="gender" value="G" /> Prefer Not to Say
          </div>

          <div class="input-box">
            <span class="details">Date of Birth</span>
            <input type="date" placeholder="" id="Date" name="dob" />
          </div>

          <div class="input-box">
            <span class="details">Blood Group</span>
            <input type="text" placeholder="Example: O+  O-  A+" name="bloodgrp" />
          </div>

          <div class="input-box">
            <span class="details">Email Id</span>
            <input type="email" placeholder="Enter your Email Id" name="email" />
          </div>

          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="text" placeholder="Enter your Number" name="mobileno" maxlength="10" />
          </div>

          <div class="input-box">
            <span class="details">Aadhar Card Number</span>
            <input type="text" placeholder="Enter your Aadhar" name="aadharno" maxlength="16" />
          </div>

          <div class="input-box"></div>
          <div class="input-box">
            <span class="details">Father's Name</span>
            <input type="text" placeholder="Enter Father's Name" name="fathername" />
          </div>
          <div class="input-box">
            <span class="details">Father's Profession</span>
            <input type="text" placeholder="Enter Father's Profession" name="fatherocp" />
          </div>
          <div class="input-box">
            <span class="details">Mother's Name</span>
            <input type="text" placeholder="Enter Mother's Name" name="mothername" />
          </div>
          <div class="input-box">
            <span class="details">Mother's Profession</span>
            <input type="text" placeholder="Enter Mother's Profession" name="motherocp" />
          </div>
          <div class="input-box">
            <span class="details">Guardian's Phone Number</span>
            <input type="number" placeholder="Enter Parent's Number" maxlength="10" name="parentmob" />
          </div>

          <div class="input-box">
            <span class="details">Minority Details</span>
            <select id="Course" name="minority">
              <option value=""></option>
              <option value="Muslim">Muslim</option>
              <option value="Jain">Jain</option>
              <option value="Sikh">Sikh</option>
              <option value="Christian">Christian</option>
              <option value="NA">Not Applicable</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Physically Disabled</span>
            <input type="text" placeholder="Enter 'Yes' or 'No'" name="disabled" maxlength="3" />
          </div>
          <div class="input-box">
            <span class="details">Branch</span>
            <input type="text" placeholder="Enter 'CSE' or 'ECE'" name="branch" maxlength="3" />
          </div>
          <div class="input-box2">
            <span class="details">Note:</span>

            If Selected 'YES' in Physical Disabiled, please attach
            verification report Medical Committee of IIIT Nagpur.
          </div>
          <div class="input-box">
            <span class="details">Jee Mains Details</span>
          </div>

          <div class="input-box"></div>

          <div class="input-box">
            <span class="details">Round of Allotment</span>
            <input type="text" placeholder="Example '7' or 'S1'" maxlength="2" name="allotment" />
          </div>

          <div class="input-box">
            <span class="details">Jee Main Roll Number</span>
            <input type="text" placeholder="Enter Roll Number" name="jeeroll" />
          </div>
          <div class="input-box">
            <span class="details">AIR</span>
            <input type="text" placeholder="Enter Rank" name="air" />
          </div>
          <div class="input-box">
            <span class="details">Percentile</span>
            <input type="text" placeholder="Enter Percentile" name="percent" />
          </div>

          <div class="input-box">
            <span class="details">Allotment Category</span>
            <select id="Course" name="acategory">
              <option value=""></option>
              <option value="OP">OP</option>
              <option value="SC">SC</option>
              <option value="ST">ST</option>
              <option value="OBC">OBC</option>
              <option value="EWS & PD">EWS & PD</option>
            </select>
          </div>

          <div class="input-box">
            <span class="details">Cadidate's Category</span>
            <select id="Course" name="ccategory">
              <option value=""></option>
              <option value="OP">OP</option>
              <option value="SC">SC</option>
              <option value="ST">ST</option>
              <option value="OBC & PD">OBC & PD</option>
            </select>
          </div>

          <div class="input-box2">
            <span class="details">Details of Fees Payment</span>
          </div>

          <div class="input-box2">
            <span class="details">1. JoSSA Counseling</span>
          </div>
          <div class="input-box3">
            <span class="details">DD/ECS NO.</span>
            <input type="text" placeholder="Enter Receipt No." name="jdd" />
          </div>

          <div class="input-box3">
            <span class="details">Date of Payment</span>
            <input type="date" placeholder="" id="Date" name="jdate" />
          </div>

          <div class="input-box3">
            <span class="details">Amount</span>
            <input type="text" placeholder="In Ruppee" name="jamount" />
          </div>
          <div class="input-box2">
            <span class="details">2. At Institute Reporting for Admission</span>
          </div>
          <div class="input-box3">
            <span class="details">DD/ECS NO.</span>
            <input type="text" placeholder="Enter Receipt No." name="idd" />
          </div>

          <div class="input-box3">
            <span class="details">Date of Payment</span>
            <input type="date" placeholder="" id="Date" name="idate" />
          </div>

          <div class="input-box3">
            <span class="details">Amount</span>
            <input type="text" placeholder="In Ruppee" name="iamount" />
          </div>

          <div class="input-box2">
            <span class="details">Address</span>
            1. Address for Correspondence
          </div>

          <div class="input-box2">
            <span class="details"></span>
            <input type="text" placeholder="Enter House No. Street No. etc" name="caddress" />
          </div>

          <div class="input-box">
            <span class="details">City</span>
            <input type="text" placeholder="Enter City" name="ccity" />
          </div>
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" placeholder="Enter State" name="cstate" />
          </div>

          <div class="input-box">
            <span class="details">PINCODE</span>
            <input type="text" placeholder="Enter PINCODE" name="cpincode" />
          </div>

          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="number" placeholder="Enter Mobile Number" name="cmobile" maxlength="10" />
          </div>

          <div class="input-box2">
            <br />
            2. Permanent Address
          </div>

          <div class="input-box2">
            <span class="details"></span>
            <input type="text" placeholder="Enter House No. Street No. etc" name="paddress" />
          </div>

          <div class="input-box">
            <span class="details">City</span>
            <input type="text" placeholder="Enter City" name="pcity" />
          </div>
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" placeholder="Enter State" name="pstate" />
          </div>

          <div class="input-box">
            <span class="details">PINCODE</span>
            <input type="text" placeholder="Enter PINCODE" name="ppincode" />
          </div>

          <div class="input-box">
            <span class="details">Mobile Number</span>
            <input type="number" placeholder="Enter Mobile Number" name="pmobile" maxlength="10" />
          </div>

          <div class="input-box2">
            <span class="details">Education</span>
            1. Class 10th / SSC
          </div>

          <div class="input-box">
            <span class="details">Name of Board</span>
            <input type="text" placeholder="Ex CBSE ICSE" name="tenboard" />
          </div>
          <div class="input-box">
            <span class="details">Subject</span>
            <input type="text" placeholder="Enter Subject" name="tensub" />
          </div>

          <div class="input-box">
            <span class="details">Year of Passing</span>
            <input type="text" placeholder="Enter Year of Passing" name="tenyear" />
          </div>

          <div class="input-box">
            <span class="details">Marks Obtained</span>
            <input type="text" placeholder="Enter Marks" name="tenmarks" />
          </div>

          <div class="input-box">
            <span class="details">Percentage / Grade</span>
            <input type="text" placeholder="Enter Percentage / Grade" name="tenpercent" />
          </div>
          <br />
          <div class="input-box2">2. Class 12th / HSC</div>

          <div class="input-box">
            <span class="details">Name of Board</span>
            <input type="text" placeholder="Ex CBSE ICSE" name="twelveboard" />
          </div>
          <div class="input-box">
            <span class="details">Subject</span>
            <input type="text" placeholder="Enter Subject" name="twelvesub" />
          </div>

          <div class="input-box">
            <span class="details">Year of Passing</span>
            <input type="text" placeholder="Enter Passed Out Year" name="twelveyear" />
          </div>

          <div class="input-box">
            <span class="details">Marks Obtained</span>
            <input type="text" placeholder="Enter Marks" name="twelvemarks" />
          </div>

          <div class="input-box">
            <span class="details">Percentage / Grade</span>
            <input type="text" placeholder="Enter Percentage / Grade" name="twelvepercent" />
          </div>

          <div class="input-box"></div>

          <div class="input-box">
            <span class="details" style="padding-top: 12px">Whether suffering from any chronic disease:</span>
          </div>
          <div class="input-box3">
            <select id="Disease" name="disease">
              <option value="Yes">YES</option>
              <option value="No" selected>No</option>
            </select>
          </div>

          <div class="input-box2">
            <span class="details"></span>
            <input type="text" placeholder="If Yes, Specify In Details" id="disSpe" name="diseasedetails" disabled />
          </div>

          <div class="input-box2">
            <br />
            <span class="details">Declaration by the Applicant:</span>
            I certified that all information provided by me in this form is
            correct to the best of my knowledge and belief. I understand that
            any willful misrepresentation of facts will result in my dismissal
            from the Institute. If admitted,I shall abide by all rules and
            regulations of the Institute.
          </div>

          <div class="input-box">
            <span class="details">Today's Date</span>
            <input type="date" placeholder="DATE" name="regdate" />
          </div>

          <div class="input-box3"></div>

          <div class="input-box">
            <br />
            <span class="details">Picture of Signature of Applicant</span>
            <input type="file" placeholder="" id="sig" name="sigpic" />
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</body>

</html>